.rectangle {
	position: fixed;
	width: 295px;
	height: 700px;
	background-color: #f68294;
	right: 0px;
	top: 0px;
	bottom: 0px; 
}

.blue-bars {
	position: relative;
	display: inline-block;
	width: 275px;
	height: 40px;
	background-color: #4b7fe8;
	margin: 3px;
	left: 7px;
	top: 7px;
}

.offset {
	left: 16px;
}

.green-bar {
	position: relative;
	width: 276px;
	height: 100px;
	background-color: #24f6a3;
	left: 10px;
	top: 290px;
}

.blue-oval {
	position: absolute;
	background: #4b7fe8;
	width: 70px;
	height: 50px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -25px;
}

