.blue {
	position: absolute;
	background-color: #5256af;
	width: 225px;
	height: 355px;
}

.bottom {
	top: 380px;
}

.green {
	position: relative;
	background-color: #24f6a3;
	height: 335px;
	width: 225px;
	top: 10px;
	left: 50%;
}

.orange {
	background-color: #fed100;
	margin: 10px;
	width: 205px;
	height: 135px;
}

.brown {
	position: relative;
	display: inline-block;
	margin: 4px;
	background-color: #a94319;
	width: 45px;
	height: 45px;
}

.offset {
	bottom: 4px;
}